In [1]:
import pandas as pd

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user'

In [5]:
users = pd.read_csv(url, sep='|', index_col='user_id')

In [8]:
print("First 10 entries:")
print(users.head(10))

print("\nLast 10 entries:")
print(users.tail(10))

First 10 entries:
         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703

Last 10 entries:
         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

In [ ]:
#What is the number of observations in the dataset?

In [11]:
a = users.shape[0]
print("number of observation: ", a)

number of observation:  943

In [ ]:
#What is the number of columns in the dataset?

In [14]:
b = users.shape[1]

print("Number of Columns: ", b)

Number of Columns:  4

In [ ]:
#Print the name of all the columns.

In [17]:
users.columns

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [ ]:
#How is the dataset indexed?

In [21]:
users.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

In [ ]:
#What is the data type of each column?

In [20]:
users.dtypes

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

In [ ]:
#Print only the occupation column

In [22]:
users['occupation']

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

In [ ]:
#How many different occupations are in this dataset?

In [26]:
users['occupation'].nunique()

21

In [ ]:
#What is the most frequent occupation?

In [24]:
users['occupation'].value_counts().idxmax()

'student'

In [ ]:
#DataFrame Info.

In [27]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB

In [ ]:
#Describe all the columns

In [28]:
users.describe()

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

In [ ]:
#Summarize only the occupation column

In [29]:
users['occupation'].value_counts()

student          196
other            105
educator          95
administrator     79
engineer          67
programmer        66
librarian         51
writer            45
executive         32
scientist         31
artist            28
technician        27
marketing         26
entertainment     18
healthcare        16
retired           14
lawyer            12
salesman          12
none               9
homemaker          7
doctor             7
Name: occupation, dtype: int64

In [ ]:
#What is the mean age of users?

In [30]:
users['age'].mean()

34.05196182396607

In [ ]:
#What is the age with least occurrence?

In [31]:
users['age'].value_counts().idxmin()

7